* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/car1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

body.no-scroll{
  overflow: hidden;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

nav ul li {
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: #fdfdfd;
  font-family: "SUSE", sans-serif;
}

.container {
  height: 800px;
  position: relative;
}

#content-inner {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  color: #fdfdfd;
  font-size: 60px;
  text-align: center;
  font-family: "SUSE", sans-serif;
}

#second-title {
  padding-top: 10px;
  color: #fdfdfd;
  font-size: 40px;
  text-align: center;
  font-family: "SUSE", sans-serif;
}

span {
  display: inline-block;
  padding: 50px 5px;
  border-radius: 50%;
  background-color: red;
}

#cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12rem;
}

.card-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-infos p {
  margin-top: 10px;
  font-family: "SUSE", sans-serif;
  font-weight: bold;
  color: white;
}

.card-infos img {
  display: flex;
  justify-content: center;
  max-width: 70%;
  transition: 1.0s;
}

.card-infos img:hover {
  transform: scale(1.2);
  transition: transform 1.5s ease;
  cursor: pointer;
}

.card-infos p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fdfdfd;
}

footer {
  height: 200px;
  background-color: transparent;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fdfdfd;
  font-size: 18px;
  font-family: "SUSE", sans-serif;
}

/* Estilos do Card de Detalhes */
#detail-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

#detail-card.left {
  left: 20%;
}

#detail-card.center {
  left: 50%;
  transform: translate(-50%, -50%);
}

#detail-card.right {
  left: 95%;
  transform: translate(-100%, -50%);
}


#detail-card h2 {
  font-family: "SUSE", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

#detail-card p {
  font-family: "SUSE", sans-serif;
  font-size: 20px;
  text-align: justify;
}

.btn-container {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
}

.btn-link {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  background-color: #0056b3;
}


/* Modificar o botão de fechar para ser apenas um "X" */
#close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  font-family: "SUSE", sans-serif;
  color: #333;
  text-align: center;
}

/* Imagens com o estado ativo */
.card-infos img.active {
  transform: scale(1.2);
}


/* Transição para suavidade ao fechar */
.card-infos img {
  transition: transform 1.5s ease;
}

/* Efeito de blur no fundo */
body.blurred #content-inner,
body.blurred #cards,
body.blurred footer,
body.blurred nav{
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
